name: Publish release
on:
  push:
    tags:
      - "v*"
jobs:
  publish:
    name: Publish release
    runs-on: ubuntu-latest
    concurrency: publish-release
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Publish release
        uses: ghalactic/github-release-from-tag@v6
        with:
          prerelease: "true"
